.card {
    width: 300px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.price-section {
    margin-top: 15px;
}

.price {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.original-price {
    font-size: 1em;
    color: #999;
    text-decoration: line-through;
}

.buy-now {
    background-color:rgb(220, 52, 52);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}
.buy-now:hover {
    background-color: rgb(16, 167, 31);
}
.add-to-cart {
    background-color: rgb(203, 203, 44);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}
.add-to-cart:hover {
    background-color: rgb(0, 126, 42);
}